.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.tableContainer {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);
}
.columnsContainer {
    display: flex;
    flex-flow: row nowrap;
}
.columnHeader {
    composes: header-lower from "../../shared/typography.module.css";
    font-weight: 600;
    padding: 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.rows {
    padding: 10px 0;
}
.row {
    composes: body-1 from "../../shared/typography.module.css";
    text-align: center;
}
.right {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    padding-left: 25px;
}
.right:last-child {
    border-left: 1px solid black;
}
.left {
    border-right: 1.5px solid black;
    padding-right: 25px;
}
.border {
    content: "";
    height: 100%;
    width: 1.5px;
    background-color: black;
}
