.container {
    text-align: center;
}
.header {
    composes: header-regular from "../../shared/typography.module.css";
    font-size: 28px;
}
.subheader {
    composes: header-lower from "../../shared/typography.module.css";
    font-size: 18px;
    max-width: 325px;
    color: #4f5665;
}
