.container {
    display: flex;
    flex-flow: column nowrap;
    padding: 5em 20em;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgb(0, 0, 0, 0.92));
}
.header {
    composes: header-bold from "../../shared/typography.module.css";
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
    color: #e0e0e0;
    text-shadow: black -1px -1px 0px;
}
.innerContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 75px;
}
.left {
    display: flex;
    flex-flow: column nowrap;
    max-width: 400px;
    gap: 10px;
}
.right {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    gap: 75px;
}
.columnContainer {
    text-align: left;
    width: 175px;
}
.columnHeader {
    composes: header-regular from "../../shared/typography.module.css";
    font-size: 12px;
    color: #e0e0e0;
    margin-bottom: 1em;
    text-shadow: black -1px -1px 0px;
}
.links {
    width: 160px;
    list-style: none;
}
.linkContainer {
    border-bottom: 1px solid #a49e9e8e;
    padding-left: 0.5em;
}
.link {
    composes: body-1 from "../../shared/typography.module.css";
    font-size: 14px;
    color: #a49e9e;
    text-decoration: none;
    margin-bottom: 0.5em;
}
.logoContainer {
    composes: header-bold from "../../shared/typography.module.css";
    color: #fff;
    text-shadow: black -1px -1px 0px;
}
.description {
    composes: body-1 from "../../shared/typography.module.css";
    font-size: 14px;
    color: #a49e9e;
}
.facebook {
    background: url("./assets/facebookWhite.svg") no-repeat center center;
    vertical-align: center;
    background-size: 100%;
    width: 20px;
    height: 20px;
}
.twitter {
    background: url("./assets/twitter.svg") no-repeat center center;
    vertical-align: center;
    background-size: 100%;
    width: 20px;
    height: 20px;
}
.instagram {
    background: url("./assets/instagram.svg") no-repeat center center;
    vertical-align: center;
    background-size: 100%;
    width: 20px;
    height: 20px;
}
.socials {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    margin-top: 40px;
    margin-left: 20px;
}
