.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.container {
    padding: 7em 0;
}
.sectionHeader {
    composes: header-bold from "../../shared/typography.module.css";
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 1em;
}
.footer {
    composes: body-1 from "../../shared/typography.module.css";
    font-size: 1em;
    color: #a49e9e;
    text-align: center;
    margin-top: 3em;
}
