.container {
    max-width: 75vh;
    margin: 20px auto;
}
.header {
    composes: header-lower from "../../../shared/typography.module.css";
    font-size: 28px;
    text-align: center;
}
.listContainer {
    display: flex;
    justify-content: center;
}
.list {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}
